#!/bin/bash

# allow specifying different destination directory
DIR="${DIR:-"$HOME/.local/bin"}"

# map different architecture variations to the available binaries
ARCH=$(uname -m)
case $ARCH in
    i386|i686) ARCH=x64 ;;
    armv6*) ARCH=armv6 ;;
    armv7*) ARCH=armv7 ;;
    aarch64*) ARCH=arm64 ;;
    x86_64*) ARCH=x64 ;;
esac

OS_NAME=$(uname -s)
case $OS_NAME in
    Darwin) OS_NAME=macos ;;
    Linux) OS_NAME=linux ;;
esac

# prepare the download URL
GITHUB_LATEST_VERSION=$(curl -L -s -H 'Accept: application/json' https://api.github.com/repos/tree-sitter/tree-sitter/releases/latest | jq -r '.tag_name')
GITHUB_FILE="tree-sitter-${OS_NAME}-${ARCH}.gz"
GITHUB_URL="https://github.com/tree-sitter/tree-sitter/releases/download/${GITHUB_LATEST_VERSION}/${GITHUB_FILE}"

# install/update the local binary
curl -L -o tree-sitter.gz $GITHUB_URL
gzip -d tree-sitter.gz 
install -Dm 755 tree-sitter -t "$DIR"
rm tree-sitter
